@{
    ViewData["Title"] = "Home Page";
    Layout = "LayoutPayroll";
}

<div class="text-center">
    <h1 class="display-4">Welcome Home Payroll</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="content">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="container-fluid">
                    <table class="display table table-bordered text-dark mydatatable" id="tableact">
                        <thead>
                            <tr>
                                <th scope="col" class="text">No</th>
                                <th scope="col">Id</th>
                                <th scope="col" class="text">NIK</th>
                                <th scope="col" class="text">Name</th>
                                <th scope="col" class="text">Manager NIK</th>
                                <th scope="col" class="text">Start</th>
                                <th scope="col" class="text">End</th>
                                <th scope="col" class="text">Reason</th>
                                <th scope="col" class="text">Payroll</th>
                                <th scope="col" class="text">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Request" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Approve Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formrole">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="id" class="col-form-label">Id:</label>
                                <input disabled type="text" class="form-control" id="id" name="id">
                            </div>
                            <div class="form-group">
                                <label for="id" class="col-form-label">NIK:</label>
                                <input disabled type="text" class="form-control" id="nik" name="nik">
                            </div>
                            <div class="form-group">
                                <label for="id" class="col-form-label">Name:</label>
                                <input disabled type="text" class="form-control" id="name" name="name">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="name" class="col-form-label">Start Hours:</label>
                                <input disabled type="text" class="form-control" id="starthours" name="startshours">
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-form-label">End Hours:</label>
                                <input disabled type="text" class="form-control" id="endhours" name="endhours">
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-form-label">Reason:</label>
                                <input disabled id="reason" class="form-control" name="reason">
                            </div>
                            <div class="form-group">
                                <label for="id" class="col-form-label">Payroll:</label>
                                <input disabled type="text" class="form-control" id="payroll" name="payroll">
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="approve()">Approve</button>
                <button type="button" class="btn btn-primary" onclick="reject()">Reject</button>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>

    <script>
        debugger;
        $(document).ready(function () {
            $('#tableact').DataTable({
                "ajax": {
                    url: 'https://localhost:44323/api/Request/GetApprovePayroll',
                    type: "GET",
                    dataType: "json",
                    dataSrc: ""
                },
                "columnDefs": [{
                    targets: [-1, -2, -3],
                    orderable: false
                }],
                "columns": [
                    //{ "data": "id" },
                    {
                        "data": null,
                        "render": function (data, type, row, meta) { return meta.row + meta.settings._iDisplayStart + 1; }
                    },
                    { "data": "Id" },
                    { "data": "NIK" },
                    { "data": "Name" },
                    { "data": "ManagerId" },
                    {
                        render: function (data, type, row) {
                            var date = moment(row['StartHours']).format('DD MMMM YYYY, h:mm:ss a');
                            return date;
                        }
                    },
                    {
                        render: function (data, type, row) {
                            var date = moment(row['EndHours']).format('DD MMMM YYYY, h:mm:ss a');
                            return date;
                        }
                    },
                    { "data": "Reason" },
                    { "data": "Payroll" },
                    {
                        'data': null,
                        "render": function (data, type, row, meta) {
                            return `<button class="btn btn-primary" type="button" id="showdata"><a><i class="fa fa-eye" aria-hidden="true"></i></a></button>`;
                        }
                    }
                ]
            });
        });

        function approve() {
            var id = $('#Id').val();
            console.log("put accessed");
            Approve(id);
        }

        function reject() {
            var id = $('#Id').val();
            console.log("put accessed");
            Reject(id);
        }

        $("#tableact").on('click', '#showdata', function () {
            var data = $("#tableact").DataTable().row($(this).parents('tr')).data();
            console.log(data);
            $("#Request").modal("show");
            $("#nik").val(data.NIK);
            $("#name").val(data.Name);
            $("#starthours").val(moment(data.StartHours).format('DD MMMM YYYY, h:mm:ss a'));
            $("#endhours").val(moment(data.EndHours).format('DD MMMM YYYY, h:mm:ss a'));
            $("#reason").val(data.Reason);
            $("#payroll").val(data.Payroll);
            $("#id").val(data.Id);
        });


        function Get(Id) {
            console.log(Id);
            $.ajax({
                url: "/Approve/Get",
                data: { Id: Id }
            }).done((result) => {
                console.log(result);
                var obj = JSON.parse(result);
                $("#Request").modal("show");
                $("#nik").val(data.NIK);
                $("#name").val(data.Name);
                $("#starthours").val(data.StartHours);
                $("#endhours").val(data.EndHours);
                $("#reason").val(data.Reason);
                $("#payroll").val(data.Payroll);
                $("#id").val(data.Id);
            }).fail((error) => {
                console.log(error);
            })
        }

        function Approve(Id) {
            var approve = new Object();
            approve.RequestId = $('#id').val();
            approve.NIK = $('#nik').val();
            $.ajax({
                type: "POST",
                url: '/ApprovePayroll/Approve',
                data: approve
            }).done((result) => {
                console.log("ok");
                if (result == 200) {
                    swal('Success', 'Update Successfully', 'success').then(() => {
                        location.reload(true)
                    });
                    $('#Request').modal('hide');
                    $("#nik").val(null);
                    $("#name").val(null);
                    $("#starthours").val(null);
                    $("#endhours").val(null);
                    $("#reason").val(null);
                    $("#payroll").val(null);
                    $("#id").val(null);
                    /*$("#statusrequest").val(null);*/
                    //$("#ApprovedHRD").val(null);
                    //$("#ApprovedManager").val(null);
                    table.ajax.reload();
                }
                else {
                    swal('Error', 'Something Went Wrong', 'error').then(() => {
                        location.reload(true)
                    });
                }
            }).fail((error) => {
                console.log(error)
            });
        }

        function Reject(Id) {
            var reject = new Object();
            reject.RequestId = $('#id').val();
            reject.NIK = $('#nik').val();
            $.ajax({
                type: "PUT",
                url: '/ApprovePayroll/Reject',
                data: reject
            }).done((result) => {

                if (result == 200) {
                    swal('Success', 'Update Successfully', 'success');
                    $('#Request').modal('hide');
                    $("#id").val(null);
                    $("#nik").val(null);
                    $("#name").val(null);
                    $("#starthours").val(null);
                    $("#endhours").val(null);
                    $("#reason").val(null);
                    $("#payroll").val(null);
                    table.ajax.reload();
                }
                else {
                    swal('Error', 'Something Went Wrong', 'error');
                }
            }).fail((error) => {
                console.log(error)
            });
        }
    </script>
}
