@{
    Layout = "Layout";
}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap">
            <form class="login100-form validate-form" id="ForgotPasswordForm">
                <span class="login100-form-title">
                    Forget Password
                </span>

                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" name="email" placeholder="Email" id="email">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Send
                    </button>
                </div>

                <div class="text-center text-light p-t-13">
                    <i class="fa fa-long-arrow-left m-l-5" aria-hidden="true"></i>
                    <a class="txt2 text-light" asp-area="" asp-controller="Authentication" asp-action="Index">
                        Back to Login
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

@section customScripts{

    <script>
        $(document).ready(function () {
            $('#ForgotPasswordForm').submit(function (e) {
                e.preventDefault();
                forgot();
            })
        })
        const forgot = () => {
            //let user = {
            //    Email: $('#email').val()
            //};
            //let response = fetch("ForgotPasswordAPI", {
            //    method: 'POST',
            //    headers: {
            //        'Content-Type': 'application/json;charset=utf-8'
            //    },
            //    body: user
            //});
            //let result = response.json();
            //return result;
            let User = {
                email : $("#email").val()
            };
            $.ajax({
                type: "POST",
                url: "ForgotPasswordAPI",
                data: User,
                cache: false,
                beforeSend: () => {
                    Swal.fire({
                        title: 'Please wait...',
                        showConfirmButton: false,
                        imageUrl: 'https://media.giphy.com/media/jAYUbVXgESSti/giphy.gif',
                        backdrop: `rgba(0,0,0,0.6)`
                    })
                },
                success: (data) => {
                    console.log(data)
                    //alert(data)
                    Swal.fire({
                        text: 'Email has been sent to your address',
                        icon: 'success',
                        timer: 10000,
                        timerProgressBar: true
                    });
                },
                error: (data) => {
                    console.log(data)
                    //alert(data)
                    Swal.fire({
                        text: 'the email you send is not valid',
                        icon: 'error',
                        timer: 5000,
                        timerProgressBar: true
                    });
                }
            });
        }
    </script>

}